<div  class="formheading">
<h2>Edit User</h2></div>
<div class="scalfoldloginform">
<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>

 <table><tr><td class="labelstyle"> <%= f.label :email %></td>
  <td><%= f.email_field :email  ,:size=>30%></td></tr>

<tr><td class="labelstyle"><%= f.label :password %> </td>
  <td><%= f.password_field :password, :size=>30, :autocomplete => "off" %></td></tr>

  <tr><td class="labelstyle"><%= f.label :password_confirmation %></td>
  <td><%= f.password_field :password_confirmation ,:size=>30 %></td></tr>

<tr><td class="labelstyle"><%= f.label :current_password %> </td>
  <td><%= f.password_field :current_password  ,:size=>30%></td></tr>

 <tr><td class="labelstyle"><div id="new_pic" style="display:none;">
  <%= f.label :'Profile picture'%>
 <%= f.file_field :image ,:size=>30 %>
  </div></td></tr>
    </table>
   
<% if current_user.image_url %>
<div id="pic"><%=image_tag current_user.image_url.to_s ,:width=>'50' , :height=>'70', :class=>"style_image"%><br />
 
<a class="change_pic" id="change_pic">Change picture</a><br />
<a class="delete_pic" id="delete_pic">Remove picture</a></div>
 
 <% else %><table><tr><td class="labelstyle">
 <%= f.label :'Profile picture'%></td>
  <td><%= f.file_field :image ,:size=>30 %></td></tr></table> 
<% end%>
 <%= f.submit "Update",:class=>"editbutton" %>

<% end %>


<div class="formheading"><p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete %>.</p></div>

</div>
<script type="text/javascript">
 $('#delete_pic').click(function(){
  if(confirm("Are you sure?"))
  {
var userId="<%=current_user.id%>";

      $.ajax({
    url: '/users/'+userId+'/delete_pic',
    error: function (XMLHttpRequest, textStatus, errorThrown) {
      alert("Something went wrong!! Please try again later.");
                
    },
    success: function(data){    
    jQuery("#pic").html(data);
    jQuery('#new_pic').show();
    },
    type: "get"
  
  });
}
 });

 $('#change_pic').click(function(){
 
var userId="<%=current_user.id%>";

      $.ajax({
    url: '/users/'+userId+'/change_pic',
    error: function (XMLHttpRequest, textStatus, errorThrown) {
      alert("Something went wrong!! Please try again later.");
                
    },
    success: function(data){    
    jQuery("#pic").html(data);
    jQuery('#new_pic').show();
    },
    type: "get"
  
  });

 });
 </script>