<div id="login" class="loginform">
  <div class="signinname">Sign up</div>
</div>
  <div class="loginform1">
<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
   
  <table><tr><td class="labelstyle"><%= f.label :email %></td>
  <td><%= f.email_field :email ,:size=>20%></td></tr>

  <tr><td class="labelstyle"><%= f.label :password %></td>
  <td><%= f.password_field :password,:size=>20 %></td></tr>

  <tr><td class="labelstyle"><%= f.label :'confirm password' %></td>
  <td><%= f.password_field :password_confirmation ,:size=>20%></td></tr>

 <tr><td></td><td><%= f.submit "Sign up", :class=>"button" %>
 </td></tr></table>
<% end %>



<font class="signup">Have an account <%= link_to "Sign in", new_session_path(resource_name) ,:class=>"labelstyle"%> now </font>
