<div class="listheading"><div class="fontstyling">
<h1>Listing Users</h1>
  </div></div>
<% if @users.empty? %>
<div class="noevents"><h5>No Users</h5></div>
<% else%>

<table class="tablesorter" id="my_table">
<thead>
  <tr>
    <th style="width:60px;"></th>
    <th>Email</th>
    <th></th>
    <th></th>
    <th></th>
   
  </tr>

</thead>
<tbody>
  <% @users.each do |user| %>
    <tr>
    
     <td style="width:60px;"> 
      <% if user.image_url %>
      <%=image_tag user.image_url.to_s ,:width=>'50' , :height=>'70',:class=>"style_image_view"%>
      <% else %>
       <%=image_tag "avatar.png", :alt => "avatar" ,:width=>'50', :height=>'70',:class=>"style_image_view"%>
      <% end %>
    </td>
       <td><%= user.email %>
      <td><%= link_to 'Show', user %></td>
      <td><%= link_to 'Edit', edit_user_path(user) %></td>
      <td><%= link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete %></td>
      
     
    </tr>
  <% end %>
  </tbody>
</table>
<% end%>
<br />

<script type="text/javascript">
 $(document).ready(function()
    {
     
        $("#my_table").tablesorter();
    }
);

</script>