<%= form_for(@event) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="wrapper">
  <table>
    <tr>
  <div class="field">
    <td><%= f.label :'Event name' %></td>
    <td><%= f.text_field :name %></td>
   </tr>
  </div>
  <div class="field">
   <tr><td> <%= f.label :'Event agenda(500 characters)' %></td>
    <td><%= f.text_area :agenda ,:cols => "50", :rows => "5",:maxlength=>"500",:onkeyup=>"return DjCheckMaxlength(this)" %></td>
  </tr>
  </div>
  <div class="field">
    <tr><td><%= f.label :'description(200 characters)' %></td>
    <td><%= f.text_area :description,:cols => "50", :rows => "5",:maxlength=>"200",:onkeyup=>"return DjCheckMaxlength(this)" %></td></tr>
  </div>
 <div class="field">
     <tr><td><%= f.label :'event date' %></td>
 <td><%= date_select('event','event_date')%></td></tr>
</div>

 <div id="deleteattachment">
  <% if @event.attachment_file %>
 <div id="uploaded_file">
  <p><tr><td>Files Attached with this Event</td>
  <td><%= link_to "#{@event.attachment_file}",download_file_event_path(@event)%>
  <input type="field" hidden="hidden" value=<%="#{@event.id}"%> id="eventId">
  <%= image_tag "delete.png", :alt => "Delete Attachment", :id=>"deleteImage"
                           %></td></tr>
  </div>
  <div id="newupload_file" style="display:none">
     <tr><td><%= f.label :attachment_file %></td>
     <td><%= f.file_field :attachment_file%></td></tr>
  </div>

  <%else %> 
  <div class="field">
    <tr><td><%= f.label :attachment_file %></td>
   <td><%= f.file_field :attachment_file%></td></tr>
  </div>
  <% end%>
 </div>
  <div class="field" id ="sc">
    <tr><td><%= f.label :'Category' %></td>
    <%@sub_categories=SubCategory.all%>
    

 <td><%=  f.select :sub_category_id, options_for_select(@sub_categories.collect {|sub_category| [sub_category.name , sub_category.id]},@event.sub_category_id), {:include_blank => 'Please Select'}%></td></tr>
  </div>
   <tr><td><%= link_to "Create New Category for this Event", events_other_sub_category_path ,:id => 'subNewCat'%></td>
   <td><div id="other"></div></td></tr>

</table>
  
  <div class="actions">
    <%= f.submit %>
  </div>
</div>
<% end %>

<script type="text/javascript">

  $(document).ready(function(){

     $('#subNewCat').click(function(){   

  
  if($('#event_sub_category_id').val()) 
    {
       alert("Sub Category is already selected") 
    } 
    else
    {
    $.ajax({
    url: '/events/other_sub_category',
    error: function (XMLHttpRequest, textStatus, errorThrown) {
      alert("Something went wrong!! Please try again later.");
                
    },
    success: function(data){    
    jQuery("#other").html(data);
    },
    type: "get"
  });  
  }      
        return false;
     });
     
      });

 
 $('#deleteImage').click(function(){
 
   eventId=$('#eventId').val()
 
      $.ajax({
    url: '/events/'+eventId+'/delete_file',
    error: function (XMLHttpRequest, textStatus, errorThrown) {
      alert("Something went wrong!! Please try again later.");
                
    },
    success: function(data){    
    jQuery("#uploaded_file").html(data);
    jQuery('#newupload_file').show();
    },
    type: "get"
  
  });

 });
function DjCheckMaxlength(oInObj)
{
      var iMaxLen = parseInt(oInObj.getAttribute('maxlength'));
      var iCurLen = oInObj.value.length;

      if ( oInObj.getAttribute && iCurLen > iMaxLen )
      {
          oInObj.value = oInObj.value.substring(0, iMaxLen);
      }
}
       
</script>