
<div class="fontstyling">
<h1>Events List</h1>
  </div>
<% if @events.empty? %>
<div class="fontstyling"><h5>No events</h5></div>
<% else%>
<div class="tableborder">
<table class="tablesorter" id="my_table">
 <thead>
  <tr>
    <th>Event</th>

    <th>Event date</th>
    
    <th>Event Category  </th><th>Edit</th>
    <th>Delete</th>
   
   
  </tr>
 </thead>
 <tbody>

<% @events.each do |event| %>
  <tr>
   <td><%= link_to "#{event.name}", event,:class=>"linkclass"  %></td>

    
      <td><%= event.event_date %></td>
    <%  @sub_category = SubCategory.find(event.sub_category_id)%>
     <td><%= @sub_category.name %></td>
     <td id="actioncolumn"> <%= link_to(image_tag("editIcon.png",:height=>20,:width=>20), edit_event_path(event)) %></td>
    <td id="actioncolumn"><%= link_to(image_tag("delete.png"),event, method: :delete, data: { confirm: 'Are you sure?' }) %></td>    
  </tr>
<% end %>
</tbody>
</table>
</div>
<% end %>
<%= paginate @events %>
<script type="text/javascript">
 $(document).ready(function()
    {
     
        $("#my_table").tablesorter();
    }
);

</script>


