
<div class="listheading"><div class="fontstyling">
<h1>Listing events</h1>
  </div></div>
<% if @events.empty? %>
<div class="noevents"><h5>No events</h5></div>
<% else%>
<table class="tablesorter" id="my_table">
 <thead>
  <tr>
    <th>Event</th>
    <th>Agenda</th>
    <th>Description</th>
    <th>Attachment</th>
    <th>Event date</th>
    
    <th>Event Category</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
 </thead>
 <tbody>

<% @events.each do |event| %>
  <tr>
    <td><%= event.name %></td>
    <td><%= event.agenda %></td>
    <td><%= event.description %></td>
    

   <%if event.attachment_file %>
   <td><%= link_to "#{event.attachment_file}",download_file_event_path(event)%></td>
   <% else %>
   <td> No Attachment </td>
   <% end%>
      <td><%= event.event_date %></td>
    <%  @sub_category = SubCategory.find(event.sub_category_id)%>
     <td><%= @sub_category.name %></td>

   
 
    <td><%= link_to 'Event page', event %></td>
    <% unless event.event_date < Date.today %>
    <td><%= link_to 'Edit Event', edit_event_path(event) %></td>
    <td><%= link_to 'Delete Event', event, method: :delete, data: { confirm: 'Are you sure to delete the event?' } %></td>
    <% else %>
    <td>Event has occurred<td></td>
    <% end %>
  </tr>
<% end %>
</tbody>
</table>
<% end %>
<%= paginate @events %>
<script type="text/javascript">
 $(document).ready(function()
    {
     
        $("#my_table").tablesorter();
    }
);

</script>


