
<% @sub_category=SubCategory.find(params[:sub_category_id]) %>
<% @sub_category_name=@sub_category.name %>
<div class="listheading"><div class="fontstyling">
<h1>Listing events for the Category :<%="#{@sub_category_name}"%></h1></div>
</div>
<table class="tablestyling">

   
  <tr>
    <th>Event</th>
    <th>Agenda</th>
    <th>Description</th>
    <th>Attachment</th>
    <th>Event date</th>
    
    <th>Event Category</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @events.each do |event| %>
  <tr>
    <td id="category"><%= event.name %></td>
    <td><%= event.agenda %></td>
    <td><%= event.description %></td>
    <% if event.attachment_file %>
    <td><%= link_to "#{event.attachment_file}",download_file_event_path(event)%></td>
    <% else %>
    <td>No Attachment </td>
    <% end %>
    <td><%= event.event_date %></td>
     <%  @sub_category = SubCategory.find(event.sub_category_id)%>
     <td id="category"><%= link_to "#{@sub_category.name}",sub_category_path %></td>
   
   
      
 
    <td><%= link_to 'Event page', event %></td>
    <% unless event.event_date < Date.today %>
    <td><%= link_to 'Edit Event', edit_event_path(event) %></td>
    <td><%= link_to 'Delete Event', event, method: :delete, data: { confirm: 'Are you sure to delete the event?' } %></td>
    <% else %>
    <td>Event has occurred<td></td>
    <% end %>
   
  </tr>
<% end %>
</table>
<%= paginate @events%>

