
<% @sub_category_name=@sub_category.name %>
<div class="searchbox">
 <div class="field">
    <%= label_tag :'Search' %><br />
    <%= text_field_tag :search %>
  </div>
   <input type="button" name="Go"  value="Go" onclick="search(<%=@sub_category.id%>)" /> 
 </div>
<div class="listheading"><div class="fontstyling">
<h2>Listing events for the Category :<%="#{@sub_category_name}"%></h2></div>
</div>
<div class="listheading"><div class="fontstyling">
<h3>You searched with keyword :"<%="#{params[:search]}"%>"</h3></div>
</div>
<% if @events.empty? %>
<div class="noevents"><h6>No events matching the keyword</h6></div>
<% else%>
<table class="tablesorter" id="my_table">
 <thead>
  <tr>
    <th>Event</th>
    <th>Description</th>
    <th>Event date</th>
    
    <th>Event Category  <th></th>
    <th></th></th>
   
   
  </tr>
 </thead>
 <tbody>

<% @events.each do |event| %>
  <tr>
   <td><%= link_to "#{event.name}", event %></td>

    <td><%= event.description %></td>
    
      <td><%= event.event_date %></td>
    <%  @sub_category = SubCategory.find(event.sub_category_id)%>
     <td><%= @sub_category.name %></td>
     <td id="actioncolumn"> <%= link_to(image_tag("editIcon.png"), edit_event_path(event)) %></td>
    <td id="actioncolumn"><%= link_to(image_tag("delete.png"),event, method: :delete, data: { confirm: 'Are you sure?' }) %></td>    
  </tr>
<% end %>
</tbody>
</table>
<% end%>

<%= paginate @events%>


<script type="text/javascript">
 $(document).ready(function()
    {
     
        $("#my_table").tablesorter();
    }
);

</script>