<p id="notice"><%= notice %></p>
<div class="wrapper">
<p>
  <b>Event name:</b>
  <%= @event.name %>
</p>

<p>
  <b>Event Agenda:</b>
  <%= @event.agenda %>
</p>

<p>
  <b>Event Description:</b>
  <%= @event.description %>
</p>

<p>
  <b>Attachment file:</b>


  <%= link_to "#{@event.attachment_file}",download_file_event_path(@event) %>
</p>


<p>
  <b>Sub category:</b>
  <% event=@event.sub_category_id %>
   <%  @sub_category = SubCategory.find(event)%>
     <td><%= @sub_category.name %></td>
</p>

<p>
  <b>Event Date:</b>
  <%= @event.event_date %>
</p>
</div>


<% unless @event.event_date < Date.today %>
  
<%= link_to 'Edit', edit_event_path(@event) %> |
<%end %>
<%= link_to 'Back', events_path %>
