<p id="notice"><%= notice %></p>
<div class="scalfoldloginform">
<table><tr><td  class="labelstyle">Event name:</td>
  <td><%= @event.name %></td></tr>



 <tr><td class="labelstyle">Event Agenda:</td>
  <td><%= @event.agenda %></td></tr>


<tr><td class="labelstyle">Event Description:</td>
  <td><%= @event.description %></td></tr>

<% if @event.attachment_file%>

  <tr><td class="labelstyle">Attachment file:</td>
<td>

  <%= link_to "#{@event.attachment_file}",download_file_event_path(@event) %></td></tr>

<% end%>


<tr><td class="labelstyle">Sub category:</td>
  <% event=@event.sub_category_id %>
   <%  @sub_category = SubCategory.find(event)%>
  <td><%= @sub_category.name %></td></tr>
<tr><td class="labelstyle">Event Date:</td>
  <td><%= @event.event_date %></td></tr></table>

</div>
<div class="editlinkinview">
 <%= link_to(image_tag("editIcon.png",:height=>20,:width=>20), edit_event_path(@event)) %>

<%= link_to(image_tag("delete.png"),@event, method: :delete, data: { confirm: 'Are you sure?' }) %>
</div>