<p id="notice"><%= notice %></p>
<div class="wrapper">
<p>
  <b>Event name:</b>
  <%= @event.name %>
</p>

<p>
  <b>Event Agenda:</b>
  <%= @event.agenda %>
</p>

<p>
  <b>Event Description:</b>
  <%= @event.description %>
</p>
<% if @event.attachment_file%>
<p>
  <b>Attachment file:</b>


  <%= link_to "#{@event.attachment_file}",download_file_event_path(@event) %>
</p>
<% end%>

<p>
  <b>Sub category:</b>
  <% event=@event.sub_category_id %>
   <%  @sub_category = SubCategory.find(event)%>
     <td><%= @sub_category.name %></td>
</p>

<p>
  <b>Event Date:</b>
  <%= @event.event_date %>
</p>
</div>
<div class="editlinkinview">
 <%= link_to(image_tag("editIcon.png",:height=>20,:width=>20), edit_event_path(@event)) %>

<%= link_to(image_tag("delete.png"),@event, method: :delete, data: { confirm: 'Are you sure?' }) %>
</div>