 <div class="scalfoldloginform">
  <%= form_for @sub_category  , :html => { :id => "form" } do |f| %>
  <% if @sub_category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sub_category.errors.count, "error") %> prohibited this sub_category from being saved:</h2>

      <ul>
      <% @sub_category.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <table>
  <div class="field">
  <tr><td class="labelstyle"><%= f.label :'Provide the category name' %></td>
    <td><%= f.text_field :name %></td></tr>
  </div>

 <tr><td></td><td> <div class="actions">

    <%= f.submit "Create"%>



  </div></td></tr></table>

</div>
<% end %>
