
<div class="listheading">
  <div class="fontstyling"><h2>Listing Categories for Events:</h2></div>
</div>
<table class="tablestyling">
  <tr>
    <th>Category</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @sub_categories.each do |sub_category| %>
  <tr>
    <td id="category"><%= link_to "#{sub_category.name}" ,list_events_for_category_sub_category_path(sub_category) %></td>
    <td><%= link_to 'View Category', sub_category %></td>
    <td><%= link_to 'Modify Category', edit_sub_category_path(sub_category) %></td>
    <td><%= link_to 'Delete Category', sub_category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>
<%= paginate @sub_categories %>
<br />
</div>