
<% @sub_category_name=@sub_category.name%>
 <div class="field">
    <%= label_tag :'Search' %><br />
    <%= text_field_tag :search %>
  </div>
   <input type="button" name="Go"  value="Go" onclick="search(<%=@sub_category.id%>)" /> 
   <div id="listevents">
<h1>Listing events for the Sub Category :<%="#{@sub_category_name}"%></h1>

<table class="tablestyling">
  <tr>
    <th>Event Name</th>
    <th>Agenda of the Event</th>
    <th>Description</th>
    <th>Attachment file</th>
    <th>Event date</th>
    
    <th>Sub category to which event belongs</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>



<% @events.each do |event| %>
  <tr>
    <td><%= event.name %></td>
    <td><%= event.agenda %></td>
    <td><%= event.description %></td>
  <td><%= link_to "#{event.attachment_file}",download_file_event_path(event)%></td>
    <td><%= event.event_date %></td>
     <%  @sub_category = SubCategory.find(event.sub_category_id)%>
     <td><%= @sub_category.name %></td>
   
   
      
 
    <td><%= link_to 'Event page', event %></td>
    <td><%= link_to 'Edit Event', edit_event_path(event) %></td>
    <td><%= link_to 'Delete Event', event, method: :delete , data: { confirm: 'Are you sure to delete the event?' } %></td>
  </tr>
<% end %>
</table>

<br />
<%= paginate @events%>
</div>

<%= link_to 'Back', sub_categories_path %>


<script type="text/javascript">
function search(sub_category_id)
{
  var search=$('#search').val()

    $.ajax({
    url: '/events/'+sub_category_id+'/search?search='+search+'&sub_category_id='+sub_category_id,
    error: function (XMLHttpRequest, textStatus, errorThrown) {
      alert("Something went wrong!! Please try again later.");
                
    },
    success: function(data){    
    jQuery("#listevents").html(data);
    },
    type: "get"
  });  
     }
       </script>