
<% @sub_category_name=@sub_category.name%>



<div class="fontstyling">
<h2>Listing events for the Category :<%="#{@sub_category_name}"%></h2>
</div>
<div id="listevents">
<div class="searchbox">
    <%= label_tag :'Search'%>
    <%= text_field_tag :search %>

   <input type="button" name="Go"  class="button" value="Go" onclick="search(<%=@sub_category.id%>)" /> 
 </div>
 <div class="fontstyling">
</div>
<% if @events.empty? %>
<div class="fontstyling"><h5>No events for this category</h5></div>
<% else%>
<table class="searchtable" id="my_table">
 <thead>
  <tr>
    <th>Event</th>
   
    <th>Event date</th>
    
    <th>Event Category </th> <th>Edit</th>
    <th>Delete</th>
   
   
  </tr>
 </thead>
 <tbody>

<% @events.each do |event| %>
  <tr>
   <td><%= link_to "#{event.name}", event,:class=>"linkclass"  %></td>
      <td><%= event.event_date %></td>
    <%  @sub_category = SubCategory.find(event.sub_category_id)%>
     <td><%= @sub_category.name %></td>
     <td id="actioncolumn"> <%= link_to(image_tag("editIcon.png"), edit_event_path(event)) %></td>
    <td id="actioncolumn"><%= link_to(image_tag("delete.png"),event, method: :delete, data: { confirm: 'Are you sure?' }) %></td>    
  </tr>
<% end %>
</tbody>
</table>
<%end %>
<br />

<%= paginate @events %>
</div>



<script type="text/javascript">
function search(sub_category_id)
{
  var search=$('#search').val()
   
    $.ajax({
    url: '/events/'+sub_category_id+'/search?search='+search,
    error: function (XMLHttpRequest, textStatus, errorThrown) {
      alert("Something went wrong!! Please try again later.");
                
    },
    success: function(data){
    jQuery("#listevents").html(data);
    },
    type: "get"
  });  
     }

 $(document).ready(function()
    {
     
        $("#my_table").tablesorter();
    }
);
       </script>