 <div class="scalfoldloginform">
<%= form_for @role , :html => { :id => "form" } do |f| %>
  <% if @role.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@role.errors.count, "error") %> prohibited this role from being saved:</h2>

      <ul>
      <% @role.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<table>
  <div class="field">
   <tr><td class="labelstyle"> <%= f.label :name %></td>
    <td><%= f.text_field :name %></td></tr>
  </div>
 <tr><td></td><td> <div class="actions">

    <%= f.submit%>



  </div></td></tr></table>
  
<% end %>
 </div>