<!DOCTYPE html>
<html>
 <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
<div class="mainimage">
<div class="heading">
  <div class="header"
	<p><font face="verdana" color="#333333" size="5px">ODC EVENT MANAGEMENT</font></p>
    <head>
  <title>SecondApp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="user_nav">
  <% if user_signed_in? %>
    Signed in as <%= current_user.email %>. Not you?
    <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>

  <% else %>
    <%= link_to "Sign up", new_user_registration_path %> or <%= link_to "sign in", new_user_session_path %>
  <% end %>
</div>

</div>

<%= yield %>

</body>
</html>
</div>
<% if user_signed_in? %>
<div class="rightdiv">
</br>
  <%= link_to "Edit Profile" , edit_user_registration_path%></br></br>
  <%= link_to "Create Sub Category", new_sub_category_path%></br></br>
  <%= link_to "Create Events" , new_event_path%></br></br>
  <%= link_to "List Events" ,events_path%></br></br>
</div>
<% end %>