<!DOCTYPE html>
<html>
 <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
<div class="mainimage">
<div class="heading">
  <div class="header"
	<p><font face="verdana" color="#333333" size="5px">ODC EVENT MANAGEMENT</font></p>
    <head>
  <title>SecondApp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="user_nav">
  <% if user_signed_in? %>
    Signed in as <%= current_user.email %><br />
    <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>

  <% else %>
    <%= link_to "Sign up", new_user_registration_path %> or <%= link_to "sign in", new_user_session_path %>
  <% end %>
</div>

</div>

<%= yield %>

</body>
</html>
</div>











<script type="text/javascript">


ddaccordion.init({
  headerclass: "silverheader", //Shared CSS class name of headers group
  contentclass: "submenu", //Shared CSS class name of contents group
  revealtype: "mouseover", //Reveal content when user clicks or onmouseover the header? Valid value: "click", "clickgo", or "mouseover"
  mouseoverdelay: 200, //if revealtype="mouseover", set delay in milliseconds before header expands onMouseover
  collapseprev: true, //Collapse previous content (so only one open at any time)? true/false
  defaultexpanded: [0], //index of content(s) open by default [index1, index2, etc] [] denotes no content
  onemustopen: true, //Specify whether at least one header should be open always (so never all headers closed)
  animatedefault: false, //Should contents open by default be animated into view?
  persiststate: true, //persist state of opened contents within browser session?
  toggleclass: ["", "selected"], //Two CSS classes to be applied to the header when it's collapsed and expanded, respectively ["class1", "class2"]
  togglehtml: ["", "", ""], //Additional HTML added to the header when it's collapsed and expanded, respectively  ["position", "html1", "html2"] (see docs)
  animatespeed: "fast", //speed of animation: integer in milliseconds (ie: 200), or keywords "fast", "normal", or "slow"
  oninit:function(headers, expandedindices){ //custom code to run when headers have initalized
    //do nothing
  },
  onopenclose:function(header, index, state, isuseractivated){ //custom code to run whenever a header is opened or closed
    //do nothing
  }
})


</script>


<style type="text/css">

.applemenu{
background: none repeat scroll 0 0 #D3E2FF;
    border: 5px groove #75A3FF;
    border-radius: 20px 20px 20px 20px;
    height: 265px;
    margin: 7px 0;
    padding-left: 4px;
    padding-right: 4px;
    width: 287px;
}
.applemenu div.silverheader a{
background: silvergradient.gif repeat-x center left;
font: normal 12px Tahoma, "Lucida Grande", "Trebuchet MS", Helvetica, sans-serif;
color: #23238e;
display: block;
position: relative; /*To help in the anchoring of the ".statusicon" icon image*/
width: auto;
padding: 5px 0;
padding-left: 8px;
text-decoration: none;
 text-align: center;
}


.applemenu div.silverheader a:visited, .applemenu div.silverheader a:active{
color: #23238e;
 text-align: center;
}


.applemenu div.selected a, .applemenu div.silverheader a:hover{
background-image:silvergradientover.gif;
color: #23238e;
 text-align: center;
}

.applemenu div.submenu{ /*DIV that contains each sub menu*/
background: white;
padding: 5px;
   height: 110px;;/*Height that applies to all sub menu DIVs. A good idea when headers are toggled via "mouseover" instead of "click"*/
background-color: #D3E2FF;
    border-color: #75A3FF;
    border-radius: 20px 20px 20px 20px;
    border-style: groove;
    border-width: 5px;
     -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -khtml-border-radius: 20px;
    border-radius: 20px;
    text-align: center;
}

</style>

</head>
<% if user_signed_in? %>


<body>
<div class="wrapper1">
<div class="applemenu">
 <% user=current_user%>
 <% if user.role? :Administrator%>
 <div class="silverheader"><%= link_to "Manage Users"%></div>
  <div class="submenu">
 <%= link_to "view Users" , users_path%><br />
 <%= link_to "New User" ,new_user_path%>
  </div>
  <div class="silverheader"><%= link_to "Manage Roles"%></div>
  <div class="submenu">
 <%= link_to "View Roles" , roles_path%><br />
 <%= link_to "New Role" ,new_role_path%>
  </div>
 <% end%>

<div class="silverheader"><%= link_to "Manage Profile"%></div>
  <div class="submenu">
 <%= link_to "Edit profile" , edit_user_registration_path%><br />
  </div>
<div class="silverheader"><%= link_to "Manage Event"%></div>
  <div class="submenu">
   <%= link_to "Create Event" , new_event_path%><br />
    <%= link_to "List Event" ,events_path%>
  </div>
<div class="silverheader"><%= link_to "Manage Category"%></div>
  <div class="submenu">

  <%= link_to "Create Category", new_sub_category_path%></br>
  <%= link_to "List Category" ,sub_categories_path%>
 
  </div>
</div>
</body>
<% end %>
</html>