

<html>

       <p class="alert"><%= alert %></p>
<div class="heading">
  <div class="header">
	<p><font face="verdana" color="#333333" size="5px">ODC EVENT MANAGEMENT</font></p>
    <head>
  <title>SecondApp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>

  <%= javascript_include_tag "application" %>

  <%= csrf_meta_tags %>
</head>
<body>

<div id="user_nav">
  <% if user_signed_in? %>
    Signed in as <%= current_user.email %>
     <%if current_user.role? :Administrator%>
     | Administrator |
     <% end %>
    <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>

  <% else %>
    <%= link_to "Sign up", new_user_registration_path %> or <%= link_to "sign in", new_user_session_path %>
  <% end %>
</div>
<div class="avatar">
  <% if user_signed_in? %>
   <% if current_user.image_url %>
      <%=image_tag current_user.image_url.to_s ,:width=>'50' , :height=>'70',:class => "style_image"%>
      <% else %>
       <%=image_tag "avatar.png",:width=>'50', :height=>'70', :class=>"style_image"%>
      <% end %>
      <% end%>
    </div>
</div>

<%= yield %>

 

<% if user_signed_in? %>
<div class="wrapper1">
<div id="accordion">
  <% user=current_user%>
 <% if user.role? :Administrator%>
 <h3>Manage Users</h3>
 <div>
  <p>
    <%= link_to "view Users" , users_path%><br />
 <%= link_to "New User" ,new_user_path%>
  </p>
</div>
<h3>Manage Roles</h3>
<div>
  <p>
     <%= link_to "View Roles" , roles_path%><br />
 <%= link_to "New Role" ,new_role_path%>
  </p>
</div>
<%end%>
  <h3>Manage Profile</h3>
  <div>
    <p>
    <%= link_to "Edit profile" , edit_user_registration_path%><br />

  
    </p>
  </div>
  <h3>Manage Events</h3>
  <div>
    <p>
    <%= link_to "Create Event" , new_event_path%><br />
    <%= link_to "List Event" ,events_path%>
    </p>
  </div>
  <h3>Manage Category</h3>
  <div>
    <p>
    <%= link_to "Create Category", new_sub_category_path%></br>
  <%= link_to "List Category" ,sub_categories_path%>
    </p>
    
  </div>
  
</div>
</div>
<% end %>
</body>

</html>



  <script src="http://code.jquery.com/jquery-1.8.3.js"></script>
  <script src="http://code.jquery.com/ui/1.10.0/jquery-ui.js"></script>
 
  <script>
  $(function() {
    $( "#accordion" ).accordion();
  });
  </script>