

<html>

      
<div class="heading">
  <div class="header">
	<p><font class="appname" >ODC EVENT MANAGEMENT</font></p>
    <head>
  <title>Event Portal</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
<%= stylesheet_link_tag    "flexslider" %>
  <%= javascript_include_tag "application","jquery.tablesorter","jquery-ui","jquery.flexslider" %>

  

  <%= csrf_meta_tags %>
</head>
<body>

<div id="user_nav">
  <% if user_signed_in? %>
   
     <%if current_user.role? :Administrator%>
     <font class="signinmessage"> Signed in as Administartor |
      <% else %>
      <font class="signinmessage"> Signed in as <%= current_user.email %> |
     <% end %>
    <%= link_to "Sign out", destroy_user_session_path,:class=>"links", :method => :delete %></font>

 
  <% end %>
</div>
<div class="avatar">
  <% if user_signed_in? %>
   <% if current_user.image_url %>
      <%=image_tag current_user.image_url.to_s ,:width=>'50' , :height=>'60',:class => "style_image_view"%>
      <% else %>
       <%=image_tag "avatar.png",:width=>'50', :height=>'60', :class=>"style_image_view"%>
      <% end %>
      <% end%>
    </div>
</div>

<%= yield %>

<% if user_signed_in? %>
<div class="wrapper1">
<div id="accordion">
  <% user=current_user%>
 <% if user.role? :Administrator%>
 <h3>Manage Users</h3>
 <div style="height:95px;">
  <p>
    <%= link_to "View Users" , users_path%><br />
 <%= link_to "New User" ,new_user_path%>
  </p>
</div>
<h3>Manage Roles</h3>
<div>
  <p>
     <%= link_to "View Roles" , roles_path%><br />
 <%= link_to "New Role" ,new_role_path%>
  </p>
</div>
<%end%>
  <h3>Manage Profile</h3>
  <div>
    <p>
    <%= link_to "Edit Profile" , edit_user_registration_path%><br />

  
    </p>
  </div>
  <h3>Manage Events</h3>
  <div>
    <p>
       <%= link_to "View Events" ,events_path%><br />
    <%= link_to "New Event" , new_event_path%>
   
    </p>
  </div>
  <h3>Manage Category</h3>
  <div>
    <p>
       <%= link_to "View Categories" ,sub_categories_path%><br />
    <%= link_to "New Category", new_sub_category_path%>
 
    </p>
    
  </div>
  
</div>
</div>
</div>

<% end %>
</body>
</html>


 
  <script>
  $(function() {
    $( "#accordion" ).accordion();
  });
  </script>
  <html>
  <%@events=Event.all %>
  <% if user_signed_in? %>
<div class="sliderimage">

 <div class="flexslider">

      <ul class="slides">
        
        
       <% @events.each do |event| %>
       <% if event.event_date.nil? %>
       <%else%>
       <% if event.event_date > Date.today%>
       <li class="eventname">Event: <%=event.name%><br />
        On: <%=event.event_date%></li>
       <% end%>
       <%end%>
       <%end%>
    </ul> 
  </div>  
</div>
<% end%>
</html>
<script type="text/javascript">
$(function() {

    $(".flexslider").flexslider({ 
     animation: "slide"
       }); 

});
</script>


